body, input {
	font: 0.9em Tahoma Sans-serif;
}

.title {
	font-weight: normal;
}

.container {
	width: 100;
	max-width: 600px;
	text-align: center;
	margin: 0 auto;
}

input {
	padding: 10px;
	background: #fff;
	border: 1px solid #888;
	margin: 0;
}

input [type=url] {
	width: 300px;
}

input [type=submit]:hover {
	cursor: pointer;
}